host github.com
 HostName github.com
 IdentityFile /etc/puppetlabs/puppetserver/ssh/id.rsa
 User git

host saplogo
 HostName github.com
 IdentityFile /etc/puppetlabs/puppetserver/ssh/id-module-saplog.rsa
 User git